body {
  margin: 0px;
  padding: 0px;
  background-color: rgba(8, 20, 76, 1);
}
a {
  text-decoration: none;
}
.container {
  margin-left: 320px;
  margin-right: 320px;
}
/* header */
.navigation {
  display: flex;
  align-items: center;
}
.nav_wrapp {
  padding-top: 35px;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 17px;
  margin-right: 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  color: white;
  background-color: rgba(0, 127, 255, 1);
  font-family: "GolosText-Semibold";
  font-size: 36px;
}
.logo {
  margin-left: 190px;
  height: 52px;
  width: 198px;
}
/* header кончился */
/* НАЧАЛО ПРЕВЬЮ С ВАЖНОЙ НОВОСТЬЮ ИЛИ ТЕМОЙ */
.preview {
  margin-top: 40px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("media/preview.png");
  height: 720px;
  max-width: 1280px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* экология */
.main-theme-wrapp {
  margin-top: 272px;
}
.main-theme {
  font-family: "AKONY";
  font-size: 67px;
  color: white;
  text-align: center;
}
/* подзаголовок */
.subhead {
  margin-top: 44px;
  font-size: 30px;
  text-align: center;
  color: white;
  font-family: "AKONY";
}
/* контейнер для блоков с вопросами */
.question-wrapp {
  margin-top: 23px;
  margin-right: 76px;
  margin-left: 76px;
  display: flex;
}
/* вопросы */
.question {
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 27px;
  font-size: 20px;
  border-radius: 30px;
  text-align: center;
  background-color: rgba(2, 6, 25, 0.75);
  color: white;
  font-family: "GolosText-Bold";
}
/* кнопка смотреть */
.watch {
  margin-left: 800px;
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 30px;
  background-color: rgba(5, 13, 51, 1);
  color: white;
  font-family: "GolosText-Bold";
}
/* КОНЕЦ ПРЕВЬЮ С ВАЖНОЙ НОВОСТЬЮ ИЛИ ТЕМОЙ */
/* НАЧАЛО БЛОКА ВАЖНО ЗНАТЬ */
.title {
  font-family: "AKONY";
  font-size: 30px;
  color: white;
}
.first-title {
  margin-top: 40px;
  text-align: center;
}
/* ДАЛЬШЕ ПОЛНАЯ ПОПА МЕГА УЛЬТРА СЛАЙДИЭР ТАК НАЗИВАЕМИ В ОТДЕЛЬНОМ ФАЙЛЕ*/
/* КОНЕЦ БЛОКА ВАЖНО ЗНАТЬ */
/* НАЧАЛО БЛОКОВ СТАТЬИ И СВЕЖАК */
.article-sveshak-wrapp {
  display: flex;
}
.article-wrapp {
  display: flex;
  flex-direction: column;
}
.article-text {
  text-align: center;
  font-family: "AKONY";
  font-size: 30px;
  color: white;
}
.article {
  display: grid;
  grid-template-columns: repeat(2, 380px);
  grid-template-rows: auto;
  grid-gap: 40px;
}
.article-card {
  width: 380px;
  height: auto;
  border-radius: 30px;
  background-color: rgba(0, 127, 255, 1);
}
.article-img {
  width: 380px;
  height: auto;
  border-radius: 30px;
  object-fit: cover;
}
.article-main-theme {
  margin: 0px;
  padding-top: 14px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  font-size: 20px;
  color: white;
  font-family: "GolosText-Bold";
}
.article-subhead {
  margin: 0px;
  padding-bottom: 13px;
  padding-left: 16px;
  font-size: 15px;
  color: white;
  font-family: "GolosText-regular";
}
.article-form {
  margin-top: 35px;
  text-align: center;
}
.article-button {
  padding: 15px 30px;
  border-width: 0px;
  font-size: 30px;
  background-color: rgba(15, 39, 153, 1);
  border-radius: 30px;
  color: white;
  font-family: "GolosText-Bold";
}
.sveshak-wrapp {
  margin-left: 40px;
}
.sveshak-text {
  text-align: center;
  font-family: "AKONY";
  font-size: 30px;
  color: white;
}
.sveshak-card {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
}
.sveshak-img {
  border: 2px solid white;
  border-radius: 100px;
}
.sveshak-main-theme {
  margin-left: 16px;
  font-size: 20px;
  color: white;
  font-family: "GolosText-regular";
}
.sveshak-form {
  margin-top: 31px;
  text-align: center;
}
.sveshak-button {
  padding: 15px 30px;
  border-width: 0px;
  font-size: 30px;
  background-color: rgba(255, 25, 64, 1);
  border-radius: 30px;
  color: white;
  font-family: "GolosText-Bold";
}
/* КОНЕЦ БЛОКОВ СТАТЬИ И СВЕЖАК */
